
.wrapper {
    position: relative;

    .dropdown-content {
        position: absolute;
        overflow: hidden;
        height: 0;
        box-shadow: -2px 2px 20px 0 rgb(128 128 128 / 25%);
        transition: height var(--duration) ease-out;

        &.triggered {
            height: var(--height);
        }

        :global {
            .option-item {
                border-bottom: 1px solid $gray-05;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}