.dropdown-wrapper {
  position: relative;
  height: 100%;

  .dropdown-trigger {
    display: flex;
    height: 100%;
    align-items: center;

    .trigger-button {
      transition: transform var(--duration) ease-in-out;
    }

    .triggered {
      transform: rotate(180deg);
    }
  }

  .dropdown-content {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    animation-duration: var(--duration);
    animation-timing-function: ease-in-out;
    box-shadow: -2px 2px 20px 0 rgb(128 128 128 / 25%);

    &.fade {
      &.triggered {
        animation-direction: normal;
        animation-name: fade;
      }

      &.leave {
        animation-direction: reverse;
        animation-fill-mode: forwards;
        animation-name: fade;
      }

      &.leave-done {
        display: none;
      }
    }

    &.rolling {
      &.triggered {
        animation-direction: normal;
        animation-name: rolling;
      }

      &.leave {
        animation-direction: reverse;
        animation-fill-mode: forwards;
        animation-name: rolling;
      }

      &.leave-done {
        display: none;
      }
    }

    :global {
      .option-item {
        border-bottom: 1px solid $gray-05;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@keyframes rolling {
  0% {
    height: 0;
  }

  100% {
    height: var(--height);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
