.container {
  min-width: $width-desktop;
  max-width: 100%;
  padding: 20px 0px;
  padding-bottom: 210px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  background-color: #f5f5f5;

  @media (min-width: 1920px) {
    padding: 20px 20%;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1; 
  gap: 24px;
}

.main-wrapper > div{
  flex: 1; 
  gap: 48px;
}

.home-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.rest-boxes {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
}

