.container {
  display: flex;
  height: fit-content;
  padding: 3px 8px;
  gap: 6px;
  border-radius: 16px;
  border: 1px solid #02B152;
  color: #02B152;
  white-space: nowrap;
  background-color: #FFF;
}
