.field-detail-wrapper {
  padding: 60px 20% 0;

  .field-detail-top {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  .field-detail-bottom {
    min-height: 258px;
    padding-bottom: 150px;

    .pagination-container {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }
}
