.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;

  > div:first-child {
    padding: 20px 36px;
    border: 1px solid $gray-06;
    border-radius: 8px;
    background-color: $gray-04;
    font-weight: $font-bolder;
  }
}

.mail-check-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  border: 1px solid $gray-06;
  border-radius: 8px;
  padding: 10px;

  > div {
    display: flex;
  }
}

.notification-container {
  border-top: 1px solid $gray-06;
}

.notification {
  display: flex;
  justify-content: space-between;
  padding: 18px 20px;
  border-bottom: 1px solid $gray-06;
  color: #434343;
  font-size: 14px;

  > span {
    display: flex;
    gap: 10px;
  }
}

.notification.read {
  background-color: $gray-02;
  color: $gray-08;
}

.notification.unread {
  background-color: #fff;
}

.unread-count {
  color: #02B152;
}
