/* stylelint-disable no-descending-specificity */
.filed-detail-wrapper {
  padding: 60px 20% 0;

  .field-detail-top {
    display: flex;
    flex-direction: column;
    gap: 56px;

    &-title {
      font-size: 32px;

      > span {
        color: $gray-13;

        &:first-child {
          margin-right: 12px;
          color: $gray-15;
          font-weight: $font-bold;
        }
      }
    }

    &-profile {
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px;
      border: 1px solid $gray-05;
      border-radius: 8px;
      background-color: $gray-02;

      .profile {
        display: flex;
        align-items: center;

        > div {
          &:not(&:first-child) {
            display: flex;
            gap: 6px;
          }

          &:first-child {
            position: relative;
            margin-right: 12px;

            .status-ball {
              position: absolute;
              right: -6px;
              bottom: 0;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              background-color: $primary;
            }
          }

          &:nth-child(2) {
            margin-right: 20px;

            > span {
              &:first-child {
                font-size: 18px;
                font-weight: $font-bolder;
                line-height: 28.8px;
              }

              &:last-child {
                padding: 3px 8px;
                border: 1px solid $primary;
                border-radius: 16px;
                color: $primary;
                font-size: 14px;
                font-weight: $font-normal;
                line-height: 20px;
              }
            }
          }

          &:last-child {

            > span {
              &:first-child {
                font-weight: $font-bold;
              }

              &:last-child {
                color: $primary;
              }
            }
          }
        }
      }

      .tags {
        display: flex;
        gap: 6px;

        > span {
          height: 32px;
          padding: 4px 8px;
          border: 1px solid $primary;
          border-radius: 8px;
          color: $gray-10;
          font-size: 14px;
          font-weight: $font-bold;
          line-height: 24px;
        }
      }
    }

    &-categories {
      display: flex;
      gap: 8px;
    }

    &-total-count {
      display: flex;
      color: $gray-13;
      font-size: 20px;
      font-weight: $font-normal;
      gap: 6px;

      > span {
        &:nth-child(2) {
          color: $gray-15;
          font-weight: $font-bolder;
        }
      }
    }

    &-lower {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      > div {
        &:first-child {
          display: flex;
          height: 40px;
          padding: 10px;
          border: 1px solid $gray-06;
          border-radius: 8px;
          font-size: $font-normal;
          gap: 12px;

          .radio {
            display: flex;
            align-items: center;
            line-height: 1px;

            input {
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}
