.wrapper {
  position: relative;
  width: 320px;
  label,
  small {
    display: block;
  }
  label,
  input {
    color: $gray-13;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 13px 12px;
    border: 1px solid $gray-07;
    border-radius: 8px;
    margin: 8px 0;

    &.error {
      border-color: $error;
    }
    &:focus {
      border-color: $primary;
    }
  }
  small {
    color: $gray-10;
    &.error {
      color: $error;
    }
  }
  button {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    transform:translate(0%, -50%);

    &.hidden {
      margin-top: 1.5px;
    }
  }
}
