%footer-default {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: $gray-03;
    color: $gray-15;
    font-size: 12px;
}

%title-default {
    color: $gray-13;
    cursor: pointer;
    font-weight: $font-bold;
}

%sign-form-title-default {
    color: $gray-15;
    font-size: 28px;
    font-weight: $font-bolder;
}