.container {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray-06;
    border-radius: 8px;
    padding: 40px;
    gap: 48px;
}


.header {
    display: flex;
    flex-direction: column;
    gap: 36px;
    > p {
        font-weight: $font-bolder;   
        font-size: 36px;
    }
}

.my-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: fit-content;
    gap: 20px;

    > div {
        display: flex;
        padding: 12px;
        gap: 4px;
        color: $gray-08;

        > span:nth-child(2) {
            display: flex;
            border-radius: 20px;
            padding: 2px 6px;
            gap: 10px;
            background-color: $primary;
            color: #FFF;
            font-size: 14px;
            background-color: $gray-08;
        }

        &:hover {
            cursor: pointer;
        }

        &.selected {
            font-weight: $font-bolder;
            border-bottom: 2px solid $primary;
            color: #00AE51;

            > span:nth-child(2) {
                background-color: #00AE51;
            }
        }



    }
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid $gray-07;

    > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68px;
        height: 40px;
        border-radius: 8px;
        padding: 15px 0px;
        border: 1px solid $primary;
        gap: 10px;
        font-weight: $font-bolder;
        color: $primary;
    }
}
  
.post-sorter {
    display: flex;
    gap: 10px;
    > div {
        display: flex;
    }
}

.board-list {
    display: flex;
    flex-direction: column;
    padding: 36px 32px;
    gap: 12px;
    border-bottom: 1px solid $gray-06;
}

.board-type {
    display: flex;
    border-radius: 20px;
    padding: 3px 8px;
    width: fit-content;
    gap: 6px;
    background-color: $gray-04;
    font-weight: $font-medium;
    color: $gray-10;
    line-height: 24px;
} 

.board-title-box {
    display: flex;
    justify-content: space-between;

    > span {
        font-weight: $font-bolder;
        font-size: 20px;
        line-height: 28px;
        color: #333333
    }
}

.board-content {
    line-height: 24px;
    margin-bottom: 20px;
}

.board-footer {
    display: flex;
    justify-content: space-between;
    line-height: 24px;

    > div:first-child {
        display: flex;
        gap: 6px;
    }
}